.App {
  background-image: url("./1014.png");
  background-repeat: repeat;
}
body{
  background-image: url("./1014.png");
  background-repeat: repeat;
}

.card-img-top{
  width: 10rem;
  height:12rem;
}
.card .card-title{
  font-size: 2rem;
}
.card .card-text{
  font-size: 1rem;
}
.my-row{
  flex:1;
  display:grid;
  justify-content: space-around;
  grid-row-gap:1rem;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin-top: 4rem;
}
.my-img{
  width: 400px;
  height: 250px;
}

.my-jumbotron{
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  height:350px;
}

.count-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #cc4420;
  font-size: 1.8rem;
  color:white;
  text-shadow: 1px 1px 5px;
  border-radius: 10px;
}
.count-box2{
  margin-bottom:0.5rem;
  padding: 0.2rem;
  background-color: #cc4420;
  font-size: 1rem;
  color:white;
  text-shadow: 1px 1px 5px;
  border-radius: 10px;
}
.table.table-striped {
  table-layout:fixed;
  width: 100%;
}
.list-group{
  height: 300px;
  max-height: 300px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
.tr-desc{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.box {
	padding: 40px;
	background: #191919;
	text-align: center;
	transition: 0.25s;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.customCentering {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}
