.App {
}

.card-img-top{
  width: 10rem;
  height:12rem;
}
.card .card-title{
  font-size: 2rem;
}
.card .card-text{
  font-size: 1rem;
}
.my-row{
  flex:1;
  display:grid;
  justify-content: center;
  grid-row-gap:1rem;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.table.table-striped {
  table-layout:fixed;
  width: 100%;
}

.tr-desc{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
